<section class="mt4 mb4 p2 max-width-3 mx-auto">
  <h2 class="mb0">The 3rd edition is in early release!</h2>
  <p class="mt2 thin">
    The 3rd edition of <em>Docker: Up & Running</em> is in early release! It includes major updates to every chapter, and has added coverage of new features like building  multi-architecure images and using all the new features in buildkit.
  </p>
  <ul class="thin">
    <li>New chapter: Discusses some of the newer Docker-compatible tools in the broader ecosystem.</li>
    <li>New section: Covers buildkit and all of the new features that this brings to image building.</li>
    <li>New section: Adds an overview of the <code>buildx</code> plugin and how it can be used to build images for multiple architectures.</li>
    <li>New section: Added coverage of rootless containers with Docker.</li>
    <li>Expanded coverage of Kubernetes tools that work with Docker.</li>
    <li>All Docker commands and output have been updated to reflect the current releases.</li>
    <li>Docker Compose coverage has been updated for version 2.</li>
    <li>Added a small example of spinning up a private image registry.</li>
    <li>Removed sections and references to outdated and deprecated tools and commands.</li>
    <li>
      And much more!
      Preorder a copy via < a href="https://amzn.to/3HdohgK">Amazon</a> or as an O'Reilly online learning member you can<a href="https://amzn.to/3HdohgK">read the early release</a> now.
    </li>
  </ul>
  <p class="mt3 thin col-5">
    {% include buy-now.html id="3rd-edition-here-section" label="Get your copy now!" bg="bg-blue" %}
  </p>
</section>