<section class="mt4 mb4 p4 pb7 clearfix bg-gray-color border-bottom border-top border-gray">
  <div class="max-width-3 mx-auto">
    <h2 class="mb4">About the authors</h2>
    <div class="clearfix mxn2">
      <div class="sm-col sm-col-4 mb2 px2">
        {% include image.html path="sean-p-kane.jpg" alt="Sean P. Kane" %}
      </div>
      <div class="sm-col sm-col-8 justify thin px2">
        <p class="mt0">
          <a href="https://www.linkedin.com/in/spkane/" class="bold tracked" data-trk="spkane-link-about-author-section">Sean P. Kane</a> is
          the founder of
          <a href="https://techlabs.sh/?ref=docker-up-and-running" target="_blank" class="tracked" data-trk="techlabs-link-about-author-section">./techlabs.sh</a>, a company that
          offers customized DevOps and production operations training, enginering, and talks. Sean has extensive experience with Linux containers, Terraform, Kubernetes, Docker, and much more.
        </p>
        <p>
          Sean is the <a href="https://patents.google.com/patent/US10671405B2/en">lead inventor on a container-related patent</a> and also teaches many 
          <a href="https://www.oreilly.com/pub/au/6283" target="_blank" class="tracked" data-trk="teaching-link-about-author-section"> highly-rated interactive DevOps classes with O'Reilly Media</a>.
          Over his 30+ year carrer, Sean has worked as a production operations and distributed systems engineer
          at SuperOrbital, New Relic, Hewlett Packard, and many others.
          <p>For more info, check out
          <a href="https://techlabs.sh/?ref=docker-up-and-running" target="_blank" class="tracked" data-trk="click-spkane-link-about-author-section">techlabs.sh</a>.</p>
        </p>
      </div>
      <div class="sm-col sm-col-4 mb2 px2">
        {% include image.html path="karl-matthias.jpg" alt="Karl Matthias" %}
      </div>
      <div class="sm-col sm-col-8 justify thin px2">
        <p class="mt0">
          <a href="https://relistan.com/?ref=docker-up-and-running" class="bold tracked" data-trk="kmatthias-link-about-author-section">Karl Matthias</a> is
          is currently a member of the technical staff at an early-stage startup.
        </p>
        <p>
          Previous to this, he has held roles as VP of Architecture, Principal SRE, and Principal Systems engineer at companies like Community.com, Nitro Software, and New Relic.
          <p>For more info, check out
          <a href="https://relistan.com/?ref=docker-up-and-running" target="_blank" class="tracked" data-trk="click-kmatthias-link-about-author-section">relistan.com</a>.</p>
        </p>
      </div>
    </div>
  </div>
</section>
