<section class="pt2 py4 clearfix bg-gray-color border-bottom border-gray">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-6 p3">
      <a href="{{ site.url }}">
        {% include image.html path="docker-up-and-running-cover-3e-medium.jpg" alt="Docker: Up and Running, 3rd edition" %}
      </a>
    </div>
    <div class="lg-col lg-col-6 p3">
      <h1 class="mt0 mb0">Docker: Up &amp; Running</h1>
      <p class="mt0 medium-gray">By Sean P. Kane with Karl Matthias</p>
      <p class="justify thin mt0">
        This book is the fastest way to get up and running with Docker and Linux containers.
        It covers the whole DevOps workflow from initial image creation through production delivery.
      </p>
      <p class="justify thin">
        The 3rd edition is in early release and takes a very hands-on-approach to teaching. Everything in the book is
        designed, so that you can follow along as much as you want. Not only will you learn everything you need to
        know about Docker, but you will also become well-versed in Linux containers and how you can use them to
        streamline and improve every single step of your software delivery pipeline, and help ensure that your whole
        platform is designed to be as robust and repeatable as possible.
      </p>
      <p class="justify thin">
        By the time you're done, you'll be ready to use Docker and Linux containers in all of your real world processes.
      </p>
      <p class="mt3">
        {% include buy-now.html id="intro-section" %}
      </p>
    </div>
  </div>
</section>