<section class="mt4 mb4 p2 max-width-3 mx-auto">
  <h2 class="mb0">About the book</h2>
  <p class="mt2 thin">
    This book is for everyone who has a stake in making sure that software can be written, delivered, and run in
    production as smootly and reliably as possible. If you are managing technical teams, architecting platforms,
    developing services, building DevOps pipelines, supporting production operations, or responding to alerts at 2AM,
    then this book is designed for you.
    Docker and Linux containers have changed almost every aspect of modern software delivery and this book will help
    you understand how all of these changes can be leveraged to speed up software deliver while also creating more
    robust and reliable systems to serve your end users.
  </p>
  <div class="clearfix clear-2">
    {% for chapter in site.data.outline %}
      <div class="md-col md-col-6 px2 mb3 center">
        <span class="fa-stack fa-3x book-blue">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-{{ chapter.icon }} fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="left-align">{% unless chapter.skip_chapter %}Ch {{ forloop.index }}: {% endunless %}{{ chapter.title }}</h3>
        <p class="light-gray thin left-align">{{ chapter.description }}</p>
      </div>
    {% endfor %}
  </div>
</section>
